<!DOCTYPE html>
<html lang="en">
<% include macro/header.ejs%>
<body>

<% include macro/left.ejs%>

<div class="content-area">
    <br />

    <div class="container">
        <form role="form" id="signupForm">
            <div class="form-group">
                <label for="exampleInputEmail1">标题</label>
                <input type="text" class="form-control" id="title" placeholder="标题" name="title" required>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">介绍</label>
                <textarea cols="65" rows="4" id="detail" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">官网地址</label>
                <input type="url" class="form-control" id="url" placeholder="官网地址" name="url">
            </div>



            <div class="form-group">
                <label for="exampleInputFile">软件包上传</label>
                <input type="file" id="exampleInputFile" name="attach" required>
                <p class="help-block">上传软件压缩包</p>
            </div>

            <div class="form-group">
                <label for="exampleInputFile">图片上传</label>
                <input type="file" id="exampleInputFile" name="img">
                <p class="help-block">图片大小：600*375</p>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default" id="sureAdd">确认提交</button>
        </form>
    </div>
    <br />


<% include macro/footer.ejs%>
</div>

<script src="./includes/js/jquery.validate.min.js" type="text/javascript"></script>
<script>

    $(document).ready(function(){

        $("#signupForm").validate({
            submitHandler: function(form) {
                //form.submit();
                sendAjax();
            }
        });
    });

    function sendAjax()
    {
        var title  = $("#title").val();
        var detail = $("#detail").val();
        var url    = $("#url").val();

        $.post("admin/save",{title:title,uid:100,detail:detail,url:url},function(ret,status){

            alert(ret);
        })
    }

</script>
</body>
</html>