<!DOCTYPE html>
<html lang="en">
    <% include macro/header.ejs%>
	<body>
		<div class="navbar navbar-default navbar-fixed-top visible-xs">
			<div class="container">
				<div class="navbar-header">
		  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
		  			</button>
		  			<a class="navbar-brand" href="./">QUICK<span class="strap">SITE</span></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="./"></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="services.html">首页</a></li>
								<li><a href="portfolio.html">Portfolio</a></li>
								<li><a href="portfolio-item.html">Portfolio Item</a></li>
								<li><a href="features.html">Features</a></li>
								<li><a href="pricing.html">Pricing</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="careers.html">Careers</a></li>
								<li><a href="clients.html">Clients</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog-post.html">Blog Single Post</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="register.html">Sign Up</a></li>
								<li><a href="login.html">Sign In</a></li>
								<li><a href="recover-password.html">Recover Password</a></li>
								<li><a href="coming-soon.html">Coming Soon Page</a></li>
								<li><a href="error-404.html">404 Error Page</a></li>	
							</ul>
						</li>
						<li><a href="about.html">关于我们</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li class="visible-xs"><a href="register.html">注册</a></li>
						<li class="visible-xs"><a href="login.html">登录</a></li>
						<li class="hidden-xs"><a href="register.html" class="btn btn-main btn-sm btn-header">注册</a></li>
                    				<li class="hidden-xs"><a href="login.html" class="btn btn-main btn-sm btn-header">登录</a></li>
					</ul>
				</div>
			</div>
		</div>

        <% include macro/left.ejs%>

		<div class="content-area">
				<div class="login-strip">
					<a href="register.html"><i class="icon-plus"></i> 注册 </a> |
					<a href="login.html"><i class="icon-signin"></i> 登录 </a>
				</div>

				<div id="features">
					<div class="container">
						<div class="row feature">
							<div class="col-sm-6">
								<img src="./includes/img/showcase2.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info">
								<h3>
									<i class="icon-laptop icon-large"></i>
									PHP开发工具精装  &nbsp;<small><a style="font-weight: bold">推荐指数：11</a></small>
								</h3>
								<p> 该压缩包里面包括：ZendStudio9.0、</p>
                                <a class="btn btn-main" href="#">马上下载</a>
                            </div>
							<hr class="visible-xs" />
						</div>
						<div class="row feature">
							<div class="col-sm-6 pic-right">						
								<img src="./includes/img/showcase1.jpg" class="pull-right img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info info-left">
								<h3>
									<i class="icon-picture icon-large"></i> Clean & Minimal Design
								</h3>
								<p>There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							</div> 
							<hr class="visible-xs" />               
						</div>
						<div class="row feature">
							<div class="col-sm-6">
								<img src="./includes/img/showcase3.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info">
								<h3>
									<i class="icon-th icon-large"></i> Multiple Styles & Themes
								</h3>
							<p>There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							</div>
						</div>
							<hr class="visible-xs" />
						<div class="row feature">
							<div class="col-sm-6 pic-right">						
								<img src="./includes/img/showcase4.jpg" class="pull-right img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info info-left">
								<h3>
									<i class="icon-picture icon-copy"></i> 20+ Page Templates
								</h3>
								<p>QuickSite comes with 20+ handcrafted page templates for most commonly used pages so that you don't have to waste time reinventing the wheel. Since it is powered by Bootstrap 3.0, creating new custom pages is equally easy. </p>
							</div>      
							<hr class="visible-xs" />            
						</div>
						<div class="row feature">
							<div class="col-sm-6">
								<img src="./includes/img/showcase5.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info">
								<h3>
									<i class="icon-list-ul icon-large"></i> CSS3 Vertical Flyout Menu
								</h3>
							<p>Custom coded CSS3 vertical flyout menu provides a strikingly different experience than standard bootstrap templates. It not only adds to the beauty of your website but also provides a pleasant user experience.</p>
							</div>
						</div>
					</div>
				</div>
            <% include macro/footer.ejs%>
        </div>
	</body>
</html>

