<!DOCTYPE html>
<html lang="en">
    <% include macro/header.ejs%>
	<body>


        <% include macro/left.ejs%>

		<div class="content-area">
				<div class="login-strip">
					<a href="register.html"><i class="icon-plus"></i> 注册 </a> |
					<a href="login.html"><i class="icon-signin"></i> 登录 </a>
				</div>

				<div id="features">
					<div class="container">
						<div class="row feature">
							<div class="col-sm-6">
								<img src="./includes/img/showcase2.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info">
								<h3>
									<i class="icon-laptop icon-large"></i>
									PHP开发工具精装  &nbsp;<small><a style="font-weight: bold">推荐指数：11</a></small>
								</h3>
								<p> 该压缩包里面包括：ZendStudio9.0、</p>
                                <a class="btn btn-main" href="#">马上下载</a>
                            </div>
							<hr class="visible-xs" />
						</div>
						<div class="row feature">
							<div class="col-sm-6 pic-right">						
								<img src="./includes/img/showcase1.jpg" class="pull-right img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info info-left">
								<h3>
									<i class="icon-picture icon-large"></i> Clean & Minimal Design
								</h3>
								<p>There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							</div> 
							<hr class="visible-xs" />               
						</div>
						<div class="row feature">
							<div class="col-sm-6">
								<img src="./includes/img/showcase3.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info">
								<h3>
									<i class="icon-th icon-large"></i> Multiple Styles & Themes
								</h3>
							<p>There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
							</div>
						</div>
							<hr class="visible-xs" />
						<div class="row feature">
							<div class="col-sm-6 pic-right">						
								<img src="./includes/img/showcase4.jpg" class="pull-right img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info info-left">
								<h3>
									<i class="icon-picture icon-copy"></i> 20+ Page Templates
								</h3>
								<p>QuickSite comes with 20+ handcrafted page templates for most commonly used pages so that you don't have to waste time reinventing the wheel. Since it is powered by Bootstrap 3.0, creating new custom pages is equally easy. </p>
							</div>      
							<hr class="visible-xs" />            
						</div>
						<div class="row feature">
							<div class="col-sm-6">
								<img src="./includes/img/showcase5.jpg" class="img-responsive" alt=""/>
							</div>
							<div class="col-sm-6 info">
								<h3>
									<i class="icon-list-ul icon-large"></i> CSS3 Vertical Flyout Menu
								</h3>
							<p>Custom coded CSS3 vertical flyout menu provides a strikingly different experience than standard bootstrap templates. It not only adds to the beauty of your website but also provides a pleasant user experience.</p>
							</div>
						</div>
					</div>
				</div>
            <% include macro/footer.ejs%>
        </div>
	</body>
</html>

