
<ul id="sidemenu" class="sidemenu hidden-xs">
    <li><a class="sidemenu-brand" href="./">程序猿</a></li>
    <li>
        <a class="selected" href="index.html"><i class="icon-home icon-2x"></i> <br/> 首页 </a></li>
    <li>
        <a class="flyout" href="#"><i class="icon-file icon-2x"></i> <br/> 分类 <i class="icon-caret-right"></i></a>
        <ul class="submenu">
            <li class="submenu-section"><i class="icon-plus"></i> 开发工具大全</li>
            <li class="submenu-item"><a href="services.html">PHP</a></li>
            <li class="submenu-item"><a href="portfolio.html">LINUX</a></li>
            <li class="submenu-item"><a href="portfolio-item.html">NODEJS</a></li>
            <li class="submenu-item"><a href="features.html">MYSQL</a></li>
            <li class="submenu-item"><a href="pricing.html">NGINX</a></li>
            <li class="submenu-item"><a href="team.html">ANDROID</a></li>
            <li class="submenu-item"><a href="careers.html">IOS</a></li>
            <li class="submenu-item"><a href="clients.html">C#</a></li>
            <li class="submenu-item"><a href="faq.html">JAVA</a></li>
            <li class="submenu-item"><a href="blog.html">C++</a></li>
            <li class="submenu-item"><a href="blog-post.html">FLASH</a></li>
        </ul>
    </li>
    <li><a href="about.html"><i class="icon-info icon-2x"></i> <br/>关于我们</a></li>
    <li><a href="contact.html"><i class="icon-phone icon-2x"></i> <br/>联系我们</a></li>
</ul>